.git
.github
.gitattributes
.gitignore
.env
.env.backup
.env.production
vendor
node_modules
public/build
public/hot
storage/logs/*
storage/framework/cache/data/*
bootstrap/cache/*.php
_ide_helper.php
.phpstorm.meta.php
tests
*.md
docker-compose.yml
